footer {
    background: lighten($secondary-color, $amount: 33.6%);
    h4 {
        font-weight: 400;
        color: $white;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            color: $white;
            list-style-type: none;
            padding: 5px 0;
            display: flex;
            a {
                color: lighten($black, 50%);
            }
            span {
                width: 25px;
                height: 25px;
                margin-right: 10px;
                background: $white;
                @include center;
                @include border-radius(50%);
                i { 
                    width: 25px;
                    font-size: 0.7rem;
                    color: $text-color-dark;
                    @include center;
                }
            }
        }
    }
}