header {
    background: $white;
    @include box-shadow;
    .contact {
        width: 400px;
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style-type: none;
                display: flex;
                align-items: center;
                font-size: 0.9rem;
                span {
                    width: 25px;
                    height: 25px;
                    margin-right: 10px;
                    background: $primary-color;
                    @include center;
                    @include border-radius(50%);
                    i { 
                        width: 25px;
                        font-size: 0.7rem;
                        color: $white;
                        @include center;
                    }
                }
            }
        }
    }
}
.navbar {
    .navbar-brand {
        font-size: 2rem;
        font-weight: bold;
        color: $primary-color;
    }
    .nav-item {
        display: flex;
        align-items: center;
        .nav-link {
            font-size: 1rem;
            font-weight: 500;
            color: $text-color-dark;
        }
        &.active {
            .nav-link {
                color: $primary-color!important;
            }
        }
    }
}
@media (max-width: 768px) {
    header {
        .callUs {
            position: fixed;
            top: 7px;
            left: 42%;
            span {
                color: $white;
                &:first-child { font-size: 0.8rem; }
                &:last-child { font-size: 1.2rem; }
            }
        }
    }
}
@media (min-width: 991px) {
    .navbar {
        .nav-item {
            .nav-link {
                padding: 5px 8px;
            }
        }
    }
}
