section {
  padding: 25px 15px; 
  h2 {
    font-weight: 600;
    font-size: 1.6rem;
  }
  .videoThumbnail {
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      width: 40px;
      height: 40px;
      background: $black;
      position: absolute;
      top: -6px;
      left: 30px;
    }
    &::after {
      content: '';
      width: 40px;
      height: 40px;
      background: $black;
      position: absolute;
      bottom: 0;
      right: 31px;
    }
    iframe {
      width: 90%;
      height: 360px;
      position: relative;
      z-index: 1;
      border: 5px solid $white;
    }
  }

  .highlightsWrapper {
    display: flex;
    justify-content: space-between;
    .highlights {
      width: calc(20% - 20px);
      flex-direction: column;
      margin: 10px;
      padding: 15px;
      text-align: center;
      border: 1px solid $border-color;
      cursor: pointer;
      @include center;
      @include border-radius(10px);
      &:hover {
        background: $white;
        @include box-shadow;
      }
      img {
        margin-bottom: 15px;
      }
      p { margin: 0; }
    }
  }

  &.alumniBenefits {
    background: $white;
  }

  .programme {
    &__title {
      h2 {
        small {
          font-size: 1rem;
          font-weight: 500;
          margin-right: 30px;
          &:last-child { margin-right: 0; }
        }
      }
    }
    &__description {
      font-weight: 500;
      margin-bottom: 15px;
      text-align: center;
    }
  }
}
.card {
  border: none;
  @include box-shadow;
  .card-header {
    border: none;
    h3 {
      letter-spacing: 8px;
      small { letter-spacing: initial; font-size: 1rem; font-weight: 500; }
    }
  }
}
.back-to-top {
  background: lighten($black, 90%);
  border: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  @include border-radius(50%);
  @include box-shadow;
}

.triangle {
  background: url('../images/backgroundpath.svg');
  justify-content: center;
  align-items: center;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


@media (max-width: 767.98px) {
  section {
    .videoThumbnail {
      margin-bottom: 15px;
      iframe { width: 100%; }
      &::before, &::after { display: none; }
    }
    .highlightsWrapper {
      .highlights { width: 100%; }
    }
  }
}